# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\Module2_Thread_IsPrime\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
